<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/projetos.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsivo.css">
    
    
    <title>Wayne Technology DEV</title>
</head>
<body>
   <header>

       <a href="/"><div class="logo"></div><!--logo--></a>
        
        <ul class="menu">
            <a href="/#apresentacao"><li>Sobre</li></a>
            <a href="/projetos"><li>Ultimos Projetos</li></a>
            <a href="/#nossos_contatos"><li>Nossos Contatos</li></a>
        </ul><!--menu-->
        
        <div class="redes">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-github"></i></a>
        </div><!--redes-->
    </header> 

    {% block content %}

    {% endblock %}
    


    <script src="https://kit.fontawesome.com/f4dd9ff78b.js" crossorigin="anonymous"></script>
</body>
</html>